.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: darkblue;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

@media (max-width: 1240px) {
  .app {
    flex-direction: row;
  }
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .app-link {
  color: yellowgreen;
  padding: 10px 20px;
} */
